<div class="span-24 header">
  <p>
  COOL CASC, S.L.<br/>                    
  CIF: B-85107928<br/> 
  C/ Grumete, 13 28260 Galapagar MADRID<br/> 
  Administración: +34.902.10.86.62<br/> 
  Fax Administracion: +34.902.87.95.62
  </p>
</div>
