<thead>
  <tr>
    <th><%= t('activerecord.attributes.order_line.count')%></th>
    <th><%= t('activerecord.attributes.product.code')%></th>
    <th><%= t('activerecord.attributes.product.cover_collection_id')%></th>
    <th><%= t('activerecord.attributes.product.description')%></th>
    <th><%= t('activerecord.attributes.order_line.mark_price')%></th>
    <th><%= t('activerecord.attributes.product.retail_price')%></th>
    <th><%= t('print.total')%></th>
  </tr>
</thead>

